<h1 style="text-align: center;">Solution of Equation Systems</h1>
<div style=" margin-left: 3%; margin-right: 3%;">
    <div id="scrolltable" style="width: 28%; float: left;">
        <form>
            <div class="form-container">
                <mat-form-field style="margin-bottom: 6px;">
                    <mat-label>Method</mat-label>
                    <mat-select matNativeControl [formControl]="method_control" [(value)]=method>
                        <mat-option *ngFor="let method of methods" [value]="method">
                            {{method}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="method_control.invalid">{{getErrorMessage("method")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 4px;">
                    <input id="n" matInput placeholder="Number of Equations" type="number" [formControl]="n_control"
                        required>
                    <mat-error *ngIf="n_control.invalid">{{getErrorMessage("n")}}</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" style="width: min-content;" (click)="showMatrix();">Enter
                    Matrix</button>

                <div *ngIf="showTable">
                    <h4> Please enter A matrix with independent values </h4>
                    <form>
                        <table id="matrix">
                            <tr *ngFor="let row of data; index as i" id="row{{i+1}}">
                                <td *ngFor="let column of data; index as j"><input class="cell" id="cell{{i+1}}{{j+1}}"
                                        type="number" required></td>
                                <th>
                                    <p> = </p>
                                </th>
                                <td><input class="cell" id="b{{i+1}}" type="number" required></td>
                            </tr>
                        </table>

                        <div *ngIf="method=='Jacobi' || method=='Gauss-Seidel'" class="form-container">
                            <h4> Please enter values</h4>
                            <mat-form-field style="margin-bottom: 6px;">
                                <input id="nIter" matInput type="number" placeholder="Number of Iterations"
                                    [formControl]="nIter_control" required>
                                <mat-error *ngIf="nIter_control.invalid">{{getErrorMessage("nIter")}}</mat-error>
                            </mat-form-field>

                            <mat-form-field style="margin-bottom: 6px;">
                                <input id="tol" matInput type="number" placeholder="Tolerance"
                                    [formControl]="tol_control" required>
                                <mat-error *ngIf="tol_control.invalid">{{getErrorMessage("tol")}}</mat-error>
                            </mat-form-field>

                            <mat-form-field style="margin-bottom: 6px;">
                                <input id="lambda" matInput type="number"
                                    placeholder="Lambda (If you do not want to use it set it to 1"
                                    [formControl]="lambda_control" required>
                                <mat-error *ngIf="lambda_control.invalid">{{getErrorMessage("lambda")}}</mat-error>
                            </mat-form-field>

                            <mat-form-field style="margin-bottom: 6px;">
                                <mat-label>Error Type</mat-label>
                                <mat-select matNativeControl [formControl]="error_control" required [(value)]=error>
                                    <mat-option *ngFor="let error of errorTypes" [value]="error">
                                        {{error}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="error_control.invalid">{{getErrorMessage("error")}}</mat-error>
                            </mat-form-field>
                            <h4> Please enter initial values</h4>
                            <form>
                                <table id="initialValues">
                                    <tr>
                                        <td *ngFor="let row of data; index as i" id="row{{i+1}}"><input class="cell"
                                                id="initial{{i+1}}" type="number" required></td>
                                    </tr>
                                </table>
                            </form>
                        </div>

                        <button mat-raised-button *ngIf="method!='Jacobi' && method!='Gauss-Seidel'" color="primary"
                            style="width: min-content; margin-top: 10px;" (click)="calculate();">Calculate</button>
                        <button mat-raised-button *ngIf="method=='Jacobi' || method=='Gauss-Seidel'" color="primary"
                            style="width: min-content; margin-top: 10px;" (click)="calculate2();">Calculate</button>
                    </form>
                </div>
            </div>
        </form>
    </div>

    <div id="scrolltable" style="width: 68%; float: right;">


        <div *ngIf="method!=''">
            <p id=helper *ngIf="method=='Simple Gaussian Elimination'">
                Simple Gaussian Elimination is an algorithm for solving systems
                of linear equations, by doing operations on the corresponding
                augmented matrix. It does this by multiplying rows by a nonzero
                number and adding a multiple of one row to another, so it can
                transform the matrix into an upper triangular matrix and then
                do a backwards substitution to find the value corresponding to
                every unknown in the system.
            </p>

            <p id=helper *ngIf="method=='Gaussian Elimination with Partial Pivot'">
                In the Gaussian elimination with total pivot,at the iteration k of the elimination,
                the largest of the elements (in absolute value) belonging to column k is relocated to position akk,
                meaning, the biggest element among the |aik| with kin , then the rows are exchanged, placing the major
                in row k.
            </p>

            <p id=helper *ngIf="method=='Gaussian Elimination with Total Pivot'">
                In the Gaussian elimination with total pivot the major element is sought in each stage k,
                among the elements that correspond to the submatrix, which results from eliminating rows R1
                through Rk-1 and columns from C1 to Ck-1 in matrix Ab, independent terms are not taken into account.
                When the largest number of these elements is found, the row and column changes are made where it is
                located in the Abkk position.
                Endally, the total pivot places the largest values ​​of each submatrix on the diagonal. The multipliers
                maintain the same property of the partial pivot
                where they are less than or equal to 1, but the probability that they are less is much greater than the
                partial pivot.
            </p>

            <p id=helper *ngIf="method=='Doolittle Factorization'">
                Doolittle method is an LU decomposition algorithm which decomposes a matrix into a lower triangular
                matrix (L)
                and a unit upper triangular matrix (U) in order to solve a given system of equations, by doing a forward
                substitution
                using the ‘L’ matrix and the independent terms, generating a transition vector ‘z’, and then doing a
                backward substitution
                using the ‘U’ matrix and the said transition vector. Unlike Crout’s method, this method puts 1 on the
                diagonal of the matrix L
                and then calculates the other values ​​of both matrices.
            </p>

            <p id=helper *ngIf="method=='Crout Factorization'">
                Crout method is an LU decomposition algorithm which decomposes a matrix into a lower triangular matrix
                (L)
                and a unit upper triangular matrix (U) in order to solve a given system of equations, by doing a forward
                substitution
                using the ‘L’ matrix and the independent terms, generating a transition vector ‘z’, and then doing a
                backward substitution
                using the ‘U’ matrix and the said transition vector.
            </p>

            <p id=helper *ngIf="method=='Cholesky Factorization'">
                Cholesky method is an LU decomposition algorithm which decomposes a matrix into a lower triangular
                matrix (L)
                and a unit upper triangular matrix (U), whose diagonal elements are the same, in order to solve a given
                system of equations,
                by doing a forward substitution using the ‘L’ matrix and the independent terms, generating a transition
                vector ‘z’,
                and then doing a backward substitution using the ‘U’ matrix and the said transition vector.
            </p>

            <p id=helper *ngIf="method=='Jacobi'">
                Method used to solve single variable equations. It uses initial
                values to
                calculate new values.
                Each diagonal element is solved for, an approximate value is plugged in. The process iterates until it
                converges.
                If the matrix used is strictly diagonally dominant the method always converges.
            </p>

            <p id=helper *ngIf="method=='Gauss-Seidel'">
                The Gauss-Seidel method is an iterative way to solve a given
                system of equations. It is a modification of
                Jacobi’s method,
                because in each iteration it uses the updated values to find the next one, instead of using all the
                default last
                values like Jacobi does.
                It’s convergence is only guaranteed if only if the matrix is either diagonally dominant, or symmetric
                and positive
                definite.
            </p>

        </div>

        <div *ngIf="show">
            <h4>Results: </h4>
            <p *ngFor="let res of result; index as i">X{{i}} = {{res}}</p>
        </div>

        <p *ngIf="errorFound">Error: {{result}}</p>

        <div *ngIf="(method=='Jacobi' || method=='Gauss-Seidel') && show">
            <table class="table">
                <tr>
                    <td>n</td>
                    <td *ngFor="let val of returningDataInitial; index as i">x{{i}}</td>
                    <td>Error</td>
                </tr>
                <tr *ngFor="let row of table">
                    <td *ngFor="let val of row">{{val}}</td>
                </tr>
            </table>
        </div>


    </div>

</div>