<h1 id=methodTitle>{{ title }}</h1>

<p id=helper>Bisection is a closed method that uses an interval that contains a root, 
            which means there is a change of sign between the limits of the interval 
            and the function is continuous on said interval. Then it generates a 
            succession of values taken from the middle value found in each iteration of 
            the algorithm. It stops when a root is found or the tolerance is reached 
            (in this case it means an approximate value was found).
</p>

<div style=" margin-left: 3%; margin-right: 3%;">

    <div id="scrolltable" style="width: 48%; float: left;">
        <form>
            <div class="form-container">
                <mat-form-field style="margin-bottom: 6px;">
                    <input id="function" matInput placeholder="Function" [formControl]="f_control" required>
                    <mat-error *ngIf="f_control.invalid">{{getErrorMessage("f")}}</mat-error>
                </mat-form-field>
                
                <mat-form-field style="margin-bottom: 6px;">
                    <input id="xi" matInput type="number" placeholder="Xi" [formControl]="xi_control" required>
                    <mat-error *ngIf="xi_control.invalid">{{getErrorMessage("xi")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="xu" matInput type="number" placeholder="Xu" [formControl]="xu_control" required>
                    <mat-error *ngIf="xu_control.invalid">{{getErrorMessage("xu")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="nIter" matInput type="number" placeholder="Number of Iterations" [formControl]="nIter_control" required>
                    <mat-error *ngIf="nIter_control.invalid">{{getErrorMessage("nIter")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="tol" matInput type="number" placeholder="Tolerance" [formControl]="tol_control" required>
                    <mat-error *ngIf="tol_control.invalid">{{getErrorMessage("tol")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <mat-label>Error Type</mat-label>
                    <mat-select matNativeControl [formControl]="error_control" required [(value)]=error>
                        <mat-option *ngFor="let error of errorTypes" [value]="error">
                            {{error}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="error_control.invalid">{{getErrorMessage("error")}}</mat-error>
                </mat-form-field>                

                <br>
                <button mat-raised-button color="primary" (click)="plot();">Calculate</button>
            </div>
        </form>
    </div>

    <div style="width: 48%; float: right;">

        <canvas id="myCanvas" width="1000px" height="600px"></canvas>
        <br>
        <p *ngIf="show">The root is {{result}}</p>
        <p *ngIf="errorFound">Error: {{result}}</p>

    </div>
    
</div>
