<h1 id=methodTitle>{{ title }}</h1>

<p id=helper> Method used to solve single variable equations. It uses initial values to calculate new values.
    Each diagonal element is solved for, an approximate value is plugged in. The process iterates until it converges.
    If the matrix used is strictly diagonally dominant the method always converges.
</p>

<div style=" margin-left: 3%; margin-right: 3%;">

    <div id="scrolltable" style="width: 48%; float: left;">
        <form style="width: 40%;  margin-left: 80px;">
            <div class="form-container" *ngIf="!showTable">
                <mat-form-field style="margin-bottom: 4px;">
                    <input id="n" matInput placeholder="Number of Equations" type="number" [formControl]="n_control"
                        required>
                    <mat-error *ngIf="n_control.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" style="width: min-content;" (click)="showMatrix();">Enter
                    Matrix</button>
            </div>
            <br>
            <div *ngIf="showTable">
                <div style="margin-bottom: 6px;">
                    <button mat-icon-button (click)="showTable=false;">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <h4> Please enter values</h4>
                <mat-form-field style="margin-bottom: 6px;">
                    <input id="nIter" matInput type="number" placeholder="Number of Iterations"
                        [formControl]="nIter_control" required>
                    <mat-error *ngIf="nIter_control.invalid">{{getErrorMessage("nIter")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="tol" matInput type="number" placeholder="Tolerance" [formControl]="tol_control" required>
                    <mat-error *ngIf="tol_control.invalid">{{getErrorMessage("tol")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="lambda" matInput type="number" placeholder="Lambda (If you do not want to use it set it to 1" [formControl]="lambda_control" required>
                    <mat-error *ngIf="lambda_control.invalid">{{getErrorMessage("lambda")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <mat-label>Error Type</mat-label>
                    <mat-select matNativeControl [formControl]="error_control" required [(value)]=error>
                        <mat-option *ngFor="let error of errorTypes" [value]="error">
                            {{error}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="error_control.invalid">{{getErrorMessage("error")}}</mat-error>
                </mat-form-field>
                <h4> Please enter initial values</h4>
                <form>
                    <table id="initialValues">
                        <tr>
                            <td *ngFor="let row of data; index as i" id="row{{i+1}}"><input class="cell"
                                    id="initial{{i+1}}" type="number" required></td>
                        </tr>
                    </table>
                </form>
                <h4> Please enter A matrix with independent values </h4>
                <form>
                    <table id="matrix">
                        <tr *ngFor="let row of data; index as i" id="row{{i+1}}">
                            <td *ngFor="let column of data; index as j"><input class="cell" id="cell{{i+1}}{{j+1}}"
                                    type="number" required></td>
                            <th>
                                <p> = </p>
                            </th>
                            <td><input class="cell" id="b{{i+1}}" type="number" required></td>
                        </tr>
                    </table>
                    <button mat-raised-button color="primary" style="width: min-content; margin-top: 10px;"
                        (click)="calculate();">Calculate</button>
                </form>
            </div>
        </form>
    </div>

    <div style="width: 48%; float: right;">

        <div *ngIf="show">
            <h4 >Results: </h4> 
            <p *ngFor="let res of result; index as i">X{{i}} = {{res}}</p>
        </div>  
        <p *ngIf="errorFound">Error: {{result}}</p>

    </div>

</div>