/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#methodTitle {
    text-align: center;
}

#helper {
    text-align:center; 
    margin-left: 10%; 
    margin-right: 10%;
}

#scrolltable {
    height: 90%; 
    overflow: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 40px; 
    height: 35px; 
    font-size: medium;
}

canvas {
    border: 1px solid black;
    /* border: 1px black; */
    width: 500px;
    height: 300px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}