<h1 id=methodTitle>{{ title }}</h1>

<p id=helper>The secant method is a variation of the fixed point method, where the 
             g function is calculated as xi+1=xi-f(xi)*(xi-xi-1)f(xi)-f(xi-1) and 
             starts from two initial values x0 and x1. It then generates a succession 
             of values that finally converge to a root. Graphically, the secant method 
             finds the root through straight lines between every pair of values in the succession.
             <br><br>
             This method is very fast, but not as fast as Newton’s, and just like the latter, 
             it needs good initial values to be effective (they do not have to be an interval 
             containing a root though). 
</p>

<div style=" margin-left: 3%; margin-right: 3%;">

    <div id="scrolltable" style="width: 48%; float: left;">
        <form>
            <div class="form-container">
                <mat-form-field style="margin-bottom: 6px;">
                    <input id="function" matInput placeholder="Function" [formControl]="f_control" required>
                    <mat-error *ngIf="f_control.invalid">{{getErrorMessage("f")}}</mat-error>
                </mat-form-field>
                
                <mat-form-field style="margin-bottom: 6px;">
                    <input id="x0" type="number" matInput placeholder="X0" [formControl]="x0_control" required>
                    <mat-error *ngIf="x0_control.invalid">{{getErrorMessage("x0")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="x1" matInput type="number" placeholder="X1" [formControl]="x1_control" required>
                    <mat-error *ngIf="x1_control.invalid">{{getErrorMessage("x1")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="nIter" matInput type="number" placeholder="Number of Iterations" [formControl]="nIter_control" required>
                    <mat-error *ngIf="nIter_control.invalid">{{getErrorMessage("nIter")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <input id="tol" matInput type="number" placeholder="Tolerance" [formControl]="tol_control" required>
                    <mat-error *ngIf="tol_control.invalid">{{getErrorMessage("tol")}}</mat-error>
                </mat-form-field>

                <mat-form-field style="margin-bottom: 6px;">
                    <mat-label>Error Type</mat-label>
                    <mat-select matNativeControl [formControl]="error_control" required [(value)]=error>
                        <mat-option *ngFor="let error of errorTypes" [value]="error">
                            {{error}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="error_control.invalid">{{getErrorMessage("error")}}</mat-error>
                </mat-form-field>                

                <br>
                <button mat-raised-button color="primary" (click)="plot();">Calculate</button>
                <br>
            </div>
        </form>
    </div>

    <div style="width: 48%; float: right;">

        <canvas id="myCanvas" width="1000px" height="600px"></canvas>
        <br>
        <p *ngIf="show">The root is {{result}}</p>
        <p *ngIf="errorFound">Error: {{result}}</p>

    </div>
    
</div>
