<mat-toolbar color="primary" class="toolbar" (keydown.control.b)="sidenav.toggle()">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{ title }}</h1>
  </mat-toolbar>
  
<mat-sidenav-container class="sidenav-container" (keydown.control.b)="sidenav.toggle()" style="height: 90%;">
    <mat-sidenav #sidenav mode="side">
      <mat-accordion>
        <mat-expansion-panel>
    <mat-expansion-panel-header class="expansionHeader">
            <mat-panel-title>Single Variable Equations</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/incrSearch">Incremental Search</a>
            <a mat-list-item routerLink="/bisection">Bisection</a> 
            <a mat-list-item routerLink="/falsePosition">False Position</a>
            <a mat-list-item routerLink="/fixedPoint">Fixed Point</a>
            <a mat-list-item routerLink="/newtonVarEq">Newton</a>  
            <a mat-list-item routerLink="/secant">Secant</a>  
            <a mat-list-item routerLink="/multipleRoots">Multiple Roots</a>  
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="expansionHeader">
            <mat-panel-title>Solution of Equation Systems</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/simpleGaussianElim">Simple Gaussian Elimination</a>
            <a mat-list-item routerLink="/partialPivot">Gaussian Elimination with Partial Pivot</a> 
            <a mat-list-item routerLink="/totalPivot">Gaussian Elimination with Total Pivot</a>
            <a mat-list-item routerLink="/doolitle">Doolittle Factorization</a>
            <a mat-list-item routerLink="/crout">Crout Factorization</a>  
            <a mat-list-item routerLink="/cholesky">Cholesky Factorization</a>  
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="expansionHeader">
              <mat-panel-title>Interpolation</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/lagrange">Lagrange</a>
              <a mat-list-item routerLink="/newtonInterpolation">Newton</a> 
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="expansionHeader">
              <mat-panel-title>Numerical Diferentiation</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/2Points">Using 2 Points</a>
              <a mat-list-item routerLink="/3Points">Using 3 Points</a> 
              <a mat-list-item routerLink="/5Points">Using 5 Points</a>
            </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="expansionHeader">
              <mat-panel-title>Numerical Integration</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item routerLink="/simpleTrapezium">Simple Trapezium</a>
              <a mat-list-item routerLink="/generalTrapezium">General Trapezium</a> 
              <a mat-list-item routerLink="/simpleSimpson_1_3">Simple Simpson 1/3</a>
              <a mat-list-item routerLink="/generalSimpson_1_3">General Simpson 1/3</a>
              <a mat-list-item routerLink="/simpleSimpson_3_8">Simple Simpson 3/8</a>  
              <a mat-list-item routerLink="/generalSimpson_3_8">General Simpson 3/8</a>  
            </mat-nav-list>
          </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div *ngIf="this.router.url == '/'">
        <h1 style="text-align:center; color: rgb(177, 177, 177);">
            Welcome to {{ title }}!
        </h1>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

        


